[Unit]
Description=Update mini-pc-inventory repo
After=update-inventory-script.target

[Service]
WorkingDirectory=/srv/mini-pc-inventory
ExecStart=./scripts/runit.sh

[Install]
WantedBy=multi-user.target
