[Unit]
Description=Update mini-pc-inventory repo
After=network-online.target

[Service]
WorkingDirectory=/srv/mini-pc-inventory
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=git pull

[Install]
WantedBy=multi-user.target
